body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  h1 {
    margin: 0;
  }

  .siteMessage {
    margin: 1rem 0;
  }

  .flashcards {
    .flashcard {
      background-color: #222;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: .4rem;

      .category {
        color: rgb(182, 182, 112);
      }

      .buttonRow {
        margin-top: .5rem;
      }
    }
  }
}
